@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap");

:root {
  --white: rgba(255, 255, 255, 1);
  --gray: rgba(255, 255, 255, 0.8);
  --lightgray: rgba(255, 255, 255, 0.6);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: var(--lightgray);
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--white);
}
p {
  line-height: 1.5;
}
img {
  max-width: 100%;
  height: 100%;
}
.container {
  width: 80%;
  max-width: 1110px;
  margin: auto;
}
/* header */
header {
  min-height: 100vh;
  background-image: url(./../images/earphones.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.navigation {
  height: 10vh;
  display: grid;
  grid-template-columns: 2fr 4fr;
  align-items: center;
}
.navigation h1 {
  color: var(--white);
  text-transform: capitalize;
  font-size: 2.4rem;
  font-weight: 700;
}
.navigation ul {
  justify-self: end;
  display: flex;
}
.navigation li {
  padding: 1rem;
}
.navigation a:hover {
  color: var(--lightgray);
}
.hero {
  position: relative;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--white);
  align-items: center;
}
.hero h2 {
  font-size: 3.6rem;
  margin-bottom: 2rem;
}
.hero button {
  position: absolute;
  bottom: 5rem;
  padding: 1rem;
  font-size: 1.8rem;
  background-color: transparent;
  border: 2px solid var(--lightgray);
  color: var(--white);
  cursor: pointer;
}
.hero span {
  position: absolute;
  bottom: 2rem;
  font-size: 3rem;
}
.hero button:hover {
  background-color: var(--gray);
  color: #000;
}
#about {
  background-color: rgb(235, 108, 108);
  color: var(--white);
  padding: 3rem;
}
.titles {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid var(--lightgray);
  padding: 2rem 0;
  position: relative;
}
.titles i {
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  background-color: transparent;
  padding: 1rem;
}
.sub-title {
  padding: 2rem 0;
}
.about-content {
  display: grid;
  grid-template-columns: 1fr 1fr;

  column-gap: 5rem;
}
.about-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-left img {
  display: block;
  height: 40%;
  width: 60%;
}
.about-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-right p {
  padding: 1rem 0;
  font-size: 1.3rem;
  color: var(--gray);
}

.progrss-title {
  margin-bottom: 0.5rem;
}
.progress {
  width: 100%;
  height: 1.2rem;
  background-color: rgb(177, 89, 89);
}
.bar {
  height: 1.2rem;
  background-color: rgb(240, 185, 185);
}
.bar-1 {
  width: 85%;
}
.bar-2 {
  width: 70%;
}
.bar-3 {
  width: 60%;
}
.bar-4 {
  width: 70%;
}
.bar-5 {
  width: 40%;
}
/* skills */
#skills {
  background-color: rgb(61, 121, 121);
  color: var(--white);
  padding: 3rem 0;
}
.skills-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.skill-cards {
  display: flex;
  text-align: center;
  gap: 2rem;
}
.skill-card {
  padding: 1rem;
}
.card-head {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-head img {
  width: 50%;
  height: 50%;
  display: block;
}
.card-body {
  padding-top: 1rem;
}
.card-body h2 {
  font-size: 1.6rem;
  font-weight: 700;
}
.card-body p {
  font-size: 1.4rem;
  color: var(--lightgray);
}
/* my work */
#work {
  background-color: rgb(148, 148, 150);
  color: var(--white);
  padding: 3rem 0;
}
.work-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.work-images {
  display: flex;
}
.work-image {
  flex: 1;
}
.btn {
  padding: 1rem 2rem;
  margin-top: 2rem;
  background-color: transparent;
  border: 2px solid currentColor;
  color: var(--white);
  cursor: pointer;
}
/* contacts */
#contacts {
  background-color: rgb(250, 190, 79);
  color: var(--white);
}
.contact-content {
  /* height: 40vh; */
}
.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.icons li {
  width: 5rem;
  margin: 2rem;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15rem;
  color: var(--white);
  background-color: rgb(72, 72, 145);
}
/* Mobile */
@media (max-width: 640px) {
  .container {
    width: 90%;
  }
  .titles {
    flex-direction: column;
    border-bottom: 1px solid var(--lightgray);
    position: relative;
    margin-bottom: 2rem;
    padding: 2rem 0;
  }
  .titles i {
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    background-color: transparent;
  }
  .sub-title {
    display: none;
  }
  .about-content {
    display: block;
  }
  .about-left img {
    display: block;
    height: 100%;
    width: 100%;
    margin-bottom: 1rem;
  }

  .skills-content {
    display: block;
  }
  .skill-cards {
    display: block;
  }
  .card-head img {
    height: 10%;
    width: 10%;
  }
  .work-content {
    flex-direction: column;
    text-align: center;
  }
  .work-images {
    display: block;
  }
  .work-image {
    margin: 1rem 0;
  }
  .btn {
    margin-bottom: 2rem;
  }

  .icons li {
    margin: 0;
    padding: 1rem;
  }
}
